NEXTCLOUD_PI_POLICY_FORMAT=nextcloud-pi-privileged-policy-v1
NEXTCLOUD_PI_BUNDLE_VERSION=1
NEXTCLOUD_PI_DEPLOYMENT_USER=@NEXTCLOUD_PI_USER@
NEXTCLOUD_PI_SYSTEM_HOSTNAME=@NEXTCLOUD_PI_SYSTEM_HOSTNAME@
NEXTCLOUD_PI_PROJECT_DIR=@NEXTCLOUD_REMOTE_PROJECT_DIR@
NEXTCLOUD_PI_STORAGE_MOUNT=@NEXTCLOUD_STORAGE_MOUNT@
NEXTCLOUD_PI_STORAGE_TYPE=ext4
NEXTCLOUD_PI_STORAGE_UUID=@NEXTCLOUD_STORAGE_UUID@
NEXTCLOUD_PI_IMAGE_PLATFORM=@NEXTCLOUD_IMAGE_PLATFORM@
NEXTCLOUD_PI_SERVICE_NAME=nextcloud.service
NEXTCLOUD_PI_APP_CONTAINER=nextcloud-docker-app-1
NEXTCLOUD_PI_DB_CONTAINER=nextcloud-docker-db-1
NEXTCLOUD_PI_CADDY_CONTAINER=nextcloud-docker-caddy-1
NEXTCLOUD_PI_CADDY_DATA_VOLUME=nextcloud-docker_caddy_data
NEXTCLOUD_PI_CADDY_CONFIG_VOLUME=nextcloud-docker_caddy_config
NEXTCLOUD_PI_STATE_ROOT=/var/lib/nextcloud-pi-ops
NEXTCLOUD_PI_SOCKET_ROOT=/run/nextcloud-pi-ops
NEXTCLOUD_PI_RUNTIME_RECOVERY_PREFIX=.nextcloud-recovery-test-
NEXTCLOUD_PI_IMAGE_READINESS_PREFIX=.nextcloud-image-readiness-
NEXTCLOUD_PI_MAX_STAGING_BYTES=536870912000
