[Unit]
Description=Run Nextcloud background jobs while the Pi is on
ConditionPathExists=!/var/lib/nextcloud-pi-ops/upgrade-freeze/timer-held

[Timer]
OnBootSec=10min
OnUnitActiveSec=5min
AccuracySec=1min
Unit=nextcloud-background-jobs.service

[Install]
WantedBy=timers.target
