# /etc/systemd/system/nextcloud.service
[Unit]
Description=Nextcloud Docker Compose Service
Requires=docker.service
After=docker.service
RequiresMountsFor=@NEXTCLOUD_STORAGE_MOUNT@

[Service]
Type=oneshot
WorkingDirectory=@NEXTCLOUD_REMOTE_PROJECT_DIR@
ExecStart=/usr/local/libexec/nextcloud-pi-compose-start
ExecStop=/usr/bin/docker compose stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
