# /etc/systemd/system/nextcloud.service
[Unit]
Description=Nextcloud Docker Compose Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=@NEXTCLOUD_REMOTE_PROJECT_DIR@
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
